<a href='#' class='new_file' folder='<%= params.element.id %>'>New File</a>
<a href='#' class='new_folder' folder='<%= params.element.id %>'>New Folder</a>
<a href='#' class='delete' folder='<%= params.element.id %>'>Delete</a>
<a href='#' class='rename' folder='<%= params.element.id %>'>Rename</a>
<a href='#' class='upload' folder='<%= params.element.id %>'>Upload Files</a>